@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

:root {
    --principal: 'Roboto Mono', monospace;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100%;
    background-color: rgb(120, 186, 108);
}

.App {
    width: 100%;
    padding: 10px;
    position: relative;
}

.divContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    row-gap: 20px;
}

.divContentPoke {
    width: 100px;
    background-color: rgb(175, 247, 204);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divContentPoke:hover{
    animation: scale 1s alternate ;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

.Tittle {
    color: rgb(67, 61, 237);
    display: block;
    text-align: center;
    margin: 5px 0 15px 0;
    font-family: var(--principal);
}

.enlacePoke{
    color: rgb(149, 178, 240);
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.messagecontent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading{
    background-color: black;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 15px;
    box-shadow: 0px 0px 2px white;
    color: white;
    font-family: var(--principal);
}
.divImagePoke{
    width: 80px;
    min-height: 80px;
    margin-bottom: 10px;
}

.imgPoke{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

